<div class="container">
    <form (submit)="onSubmit($event)" (keydown.enter)="onSubmit($event)">
        <div class="wordle-container">
            <div class="letter-container" #lettersContainer>
                @for (row of rows; track $index; let rowIndex = $index) {
                <div class="letter-row" [class.row-enter]="row.enter">
                    @for (cell of row.cells; track $index; let cellIndex = $index) {
                    <input #letterInput type="text" class="letter" name="one" appSingleLetter
                        [value]="row.cells[cellIndex].letter"
                        [disabled]="row.locked"
                        [attr.tabindex]="row.locked ? -1 : 0"
                        [class.correct]="row.cells[cellIndex].state === 'correct'"
                        [class.present]="row.cells[cellIndex].state === 'present'"
                        [class.absent]="row.cells[cellIndex].state === 'absent'"
                        [class.unset]="row.cells[cellIndex].state === 'unset'" />
                    }
                </div>
                }
            </div>
        </div>
        <app-keyboard class="keyboard-container" [keyStates]="keyStates" (keyPressed)="onKeyboardKey($event)"></app-keyboard>
    </form>
</div>